.header{
    background-color: #0d6efd;
    box-shadow: 0 0 20px rgb(0,0,0, 0.5);
    height: 64px;
}
.header-optioins{
    display: flex;
    justify-content: space-around;
}
.header-first-options{
    display: flex;
    justify-content: space-around;
}
.header-option{
    margin: 15px 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}
.header-enter{

}