.form{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    width: 380px;
}
.user-name-text{
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
.user-pass-text{
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
.user-name{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 15px;
}
.user-pass{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem
}

.form-control{
    text-align: center;
}
.send-form{
    display:block;
    color: #fff;
    background-color: #0d6efd;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 20px 45%;
}